<Config>
  <LogLevel>info</LogLevel>
  <Port>8686</Port>
  <EnableSsl>False</EnableSsl>
  <BindAddress>*</BindAddress>
  <SslCertPath></SslCertPath>
  <UrlBase></UrlBase>
  <ApiKey>73bf8ed322a84882acc39d9f83662641</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>master</Branch>
  <SslPort>6868</SslPort>
  <SslCertPassword></SslCertPassword>
  <UpdateMechanism>Docker</UpdateMechanism>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <InstanceName>Lidarr</InstanceName>
  <PostgresUser>holywoo</PostgresUser>
  <PostgresPassword>horse</PostgresPassword>
  <PostgresPort>5432</PostgresPort>
  <PostgresHost>10.0.6.196</PostgresHost>
  <PostgresMainDb>lidarr-main</PostgresMainDb>
  <PostgresLogDb>lidarr-logs</PostgresLogDb>
</Config>
