export ANSIBLE_INVENTORY=$(expand_path ./ansible/inventory/hosts.yaml)
export ANSIBLE_VARS_ENABLED="host_group_vars"
export KUBECONFIG=$(expand_path ./kubeconfig.yaml)
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
