use flake

# export ANSIBLE_INVENTORY=$(expand_path ./ansible/inventory/hosts.yaml)
# export ANSIBLE_VARS_ENABLED="host_group_vars"
export KUBECONFIG=$(expand_path ./kubeconfig.yaml)
export SOPS_AGE_KEY_FILE="$(expand_path ./age.key)"
# Venv
export VIRTUAL_ENV="$(expand_path ./.venv)"
# Ansible
export ANSIBLE_COLLECTIONS_PATH=$(expand_path ./.venv/galaxy)
export ANSIBLE_ROLES_PATH=$(expand_path ./.venv/galaxy/ansible_roles)
export ANSIBLE_VARS_ENABLED="host_group_vars"
PATH_add "$(expand_path ./.venv/bin)"

export TALOSCONFIG=$(expand_path ./talos/clusterconfig/talosconfig)
