port=53
listen-address=192.168.{{ dhcp_vlan }}.5

no-resolv
server=192.168.{{ dhcp_vlan }}.1

enable-tftp
tftp-root=/var/lib/tftpboot

dhcp-range={{ interface }}.{{ dhcp_vlan }},192.168.{{ dhcp_vlan }}.20,192.168.{{ dhcp_vlan }}.100,255.255.255.0,8h
dhcp-option={{ interface }}.{{ dhcp_vlan }},option:router,192.168.{{ dhcp_vlan }}.1
dhcp-option={{ interface }}.{{ dhcp_vlan }},option:dns-server,192.168.{{ dhcp_vlan }}.5

dhcp-match=set:bios,option:client-arch,0
dhcp-boot=tag:bios,undionly.kpxe
dhcp-match=set:efi32,option:client-arch,6
dhcp-boot=tag:efi32,ipxe.efi
dhcp-match=set:efibc,option:client-arch,7
dhcp-boot=tag:efibc,ipxe.efi
dhcp-match=set:efi64,option:client-arch,9
dhcp-boot=tag:efi64,ipxe.efi
dhcp-userclass=set:ipxe,iPXE
dhcp-boot=tag:ipxe,http://192.168.254.10/boot.ipxe

{% for host in groups['k8s'] %}
dhcp-host={{ hostvars[host]['mac_addr'] }},id:*,{{ hostvars[host]['ipv4'] }},{{ host }},24h
{% endfor %}
dhcp-host=2e:d2:2d:d2:34:cd,id:*,192.168.{{ dhcp_vlan }}.32,truenas.holywoo.cbannister.xyz,24h

log-queries
log-dhcp
