{
    "id": "{{ name }}",
    "name": "{{ name }}",
    "boot": {
        "kernel": "/assets/{{ node.talos.schematic_id }}/kernel-amd64",
        "initrd": [
            "/assets/{{ node.talos.schematic_id }}/initramfs-amd64.xz"
        ],
        "args": [
            "initrd=initramfs-amd64.xz",
            "init_on_alloc=1",
            "slab_nomerge",
            "pti=on",
            "console=tty0",
            "console=ttyS0",
            "printk.devkmsg=on",
            "talos.platform=metal",
            "talos.config=http://10.5.0.8/assets/{{ name }}.yaml",
            "talos.halt_if_installed=1"
        ]
    }
}
